/*General */
*{
    margin: 0;
    /* padding: 0; */
    list-style: none;
    text-decoration: none;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

/*  */
:root {
    /* width */
    --container-width-lg:80%;
    --container-width-sm:95%;

    /* variables for radius */
    --radius-1: 2rem;
    --radius-2: 1.2rem;
    --radius-3: 0.8rem;
    --radius-4: 0.5rem;
    --radius-5: 0.3rem;
}