/*General */
*{
    margin: 0;
    /* padding: 0; */
    list-style: none;
    text-decoration: none;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

/*  */
:root {
    /* width */
    --container-width-lg:80%;
    --container-width-sm:95%;

    /* variables for radius */
    --radius-1: 2rem;
    --radius-2: 1.2rem;
    --radius-3: 0.8rem;
    --radius-4: 0.5rem;
    --radius-5: 0.3rem;

    /* variables for transition */
    --transition: all 300ms ease ;

    /* colors */
    --primary-hue: 358;
    --color-primary: hsl(var(--primary-hue); 87%, 44%);
    --color-nav-bg:hsla (var(--primary-hue), 0%, 100%, 0.4);
    --color-gray-100:#fff;
    --color-gray-200: hsl(var(--primary-hue), 0%, 95%);
    --color-gray-300: hsl(var(--primary-hue), 0%, 85%);
    --color-gray-400: hsl(var(--primary-hue), 0%, 70%);
    --color-gray-500: hsl(var(--primary-hue), 0%, 55%);
    --color-gray-600: hsl(var(--primary-hue), 0%, 40%);
    --color-gray-700: hsl(var(--primary-hue), 0%, 25%);
    --color-gray-800: hsl(var(--primary-hue), 0%, 15%);
    --color-gray-900: hsl(var(--primary-hue), 0%, 5%);

    --color-blue-1:rgb(111, 109, 212);
}

body{
    font-family: 'Poppins', sans-serif;
    background: var(--color-gray-100);
    color: var(--color-gray-800);
    line-height: 1.7;
    font-weight: 300;
}

p, a, figcaption {
    font-size: 15px;
}

.container {
    width: var(--container-width-lg);
    margin-inline: auto;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Outfit', sans-serif;
    line-height: 1;    
}

h1{
    font-size: 48px;
    font-weight: 800;
}

h2{
    font-size: 32px;
}

/* button */
.btn {
    background: var(--color-gray-200);
    color: var(--color-gray-900);
    font-weight: 500;
    display: inline-block;
    padding: 1rem 2.5rem;
    border-radius: var(--radius-3);
    width: fit-content;
    cursor: pointer;
    transition: var(--transition);
}

.btn.sm {
    padding: 0.4rem 1rem; 
    font-weight: 400;
    border-radius: var(--radius-4);  
}

.btn.primary {
    background: var(--color-blue-1);
    color: white;
}

.btn:hover{
    background: var(--color-gray-900);
    color: var(--color-gray-100);
}

/* section */

section {
    padding: 9rem 0;
}

section > h1, section > p {
    width: 50%;
    text-align: center;
    margin-inline: auto;
}

section > h1 {
    margin-bottom: 0.5rem;
}

section:nth-child(odd) {
    background: var(--color-gray-200);
}

/* End of general variables */

nav {
    background: var(--color-nav-bg);
    border-bottom: 1px solid var(--color-gray-300);
    display: grid;
    place-items: center;
    height: 3.8rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    backdrop-filter: blur(15px); 
    -webkit-backdrop-filter: blur(15px); 
    -moz-backdrop-filter: blur(15px); 
    -o-backdrop-filter: blur(15px); 
    -ms-backdrop-filter: blur(15px); 
    z-index: 10;
}

.nav_container{
    display: flex;
    justify-content: space-between;
}

.nav_logo{
    width: 2.4rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

.nav_menu {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav_menu a {
    color: var(--color-gray-900);
}

.nav_toggle-open, .nav_toggle-close {
    display: none;
}

.nav_theme-btn {
    color: var(--color-gray-900);
    background: transparent;
    font-size: 1.4rem;
    cursor: pointer;
}

/* End of navbar */

/* Header */
header{
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.header_container{
    margin-top: 3rem;
    position: relative;
}

.header_image{
    margin-top: 4rem; 
    width: 14rem;
    aspect-ratio: 3/4;
    overflow: hidden;
    margin-right: 17rem;
    margin-inline: auto;
    border-radius: 7rem 
    /* 7rem var(--radius-2) var(--radius-2) */
    ;
}

.header_image img {
    height: 100%;
}

.header_content {
    text-align: center;
    margin-top: 2rem;
    width: 40rem;
    margin-inline: auto;
}

.header_content h4 {
    margin-bottom: 0.7rem;
}

.header_content h4 span {
    color: var(--color-blue-1);
}

.header_content p {
    margin: 0.8rem 0.2 rem;
}

.header_cta {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}

/* header socials */
.header_socials{
    position: absolute;
    bottom: 0;
    right: 1.5rem;
    display: flex;
    flex-direction: column;
}

.header_socials a {
    background: var(--color-gray-200);
    color: var(--color-gray-900);
    padding: 0.5rem;
    display: inline-block;
    border-radius: var(--radius-4);
    transition: var(--transition);
}


.header_socials a:hover {
    background: var(--color-blue-1);
    color: var(--color-gray-100);
    /* moves to the left */
    transform: translate(-0.5rem);
}


.header-container{
    /* display: flex; */
}

/* End of header */