*{
    margin: 0;
    padding: 0;
}

/* main header */
.mainheader1 {
    background-color: rgb(81, 84, 81);
    width: 100%;
    height: 40vh;
    margin: 0;
}
.navbar {
    overflow: hidden;
}
.navbar a {
    float: right;
    text-align: center;
    padding: 16px 14px;
    font-size: 25px;
    color: white;
    text-decoration: none; 
    padding-top: 30px;
}
.navbar a:hover {
    color: grey;
}

.myprofile {
    font-size: 30px;
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding-top: 80px;  
}
.myprofile p {
    color: rgb(255, 255, 255);
    padding-top: 20px;
}

/* services */
.services {
    background-color: rgb(16, 16, 16);
    padding-top: 5px;
    height: 750px;
}

/* services2 */

.services2 {
    display: flex;
    color: white;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.services2 div {
    width: 50%;
    margin: 10px;
    padding: 10px;
}

.services2 div img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    width: 550px;
    height: 700px;
    padding-left: 200px;
}
.services2 h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    color: rgb(135, 159, 181);
}
.services2 h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
.services2 div p {
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: century gothic;
    font-size: 20px;
    color: aliceblue;
    text-align: justify;
}
/* heading 1 */
h1 {
    font-size: 45px;
    color: white;
}

/* ratings */
.ratings {
    height: 500px;
    width: 100%;
    background-color: rgb(21, 20, 20);
    display: flex;
    color: white;
}

.ratings1 {
    width: 50%; 
    margin: 10px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: justify;
}

.ratings .ratings1 h1 {
    text-align: left;
    padding-top: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

.ratings .ratings1 p {
    text-align: left;
    padding-top: 10px;
    font-family: century gothic;
    font-size: larger;
    text-align: justify;
    color: rgb(207, 210, 213);
}

.ratings div h2 {
    text-align: center;
    font-size: 25px;
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.ratings2 {
    width: 50%; 
    margin: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
}
.ratings2 img {
    width: 750px;
    height: 330px;
}


/* footer */

footer {
    height: 250px;
    background-color: rgb(21, 20, 20);
    display: flex;
}

footer div {
    width: 33.3%;
    color: white;
}

footer div h4 {
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    margin-left: 40px;
    padding: 20px;
}

 footer div a {
    text-decoration: none;
    color: rgb(108, 102, 102);
    font-size: 25px;
    margin-left: 40px;
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
}
footer div img {
    width: 25px;
    height: 25px;
    margin-left: 40px;
    padding-left: 20px;  
}

footer div ul li {
    font-size: 24px;
    color: rgb(108, 102, 102);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer .socials {
    display: flex;
}

 footer div .socials a {
    margin-left: -20px;   
 }
