*{
    margin: 0;
    padding: 0;
}

/* main header */
.mainheader {
    background-image: url(images/background/background_image.jpg);
    width: 100%;
    height: 90vh;
    margin: 0;
}
.navbar {
    overflow: hidden;
}
.navbar a {
    float: right;
    text-align: center;
    padding: 16px 14px;
    font-size: 25px;
    color: white;
    text-decoration: none; 
    padding-top: 30px;
}
.navbar a:hover {
    color: grey;
}

.profile {
    color: white;
    display: flex;
    margin-top: 70px;
    margin-left: 10px;
    margin-right: 10px;
}

.profile1 {
    width: 70%;
    margin: 5px;
    padding: 5px;
}
.profile1 {
    font-size: 30px;
    text-align: justify;
}

.profile1 button {
    margin-top: 30px;
    /* width: 250px;  */
    background-color: rgb(10, 10, 10);
    border-radius: 10px;
    text-align: center;
    width: 200px;
    height: 30px;
}
.profile1 button a {
    text-decoration: none;
    color: rgb(214, 206, 206);
    font-size: 15px;
    font-weight: bold;
}
.profile2 {
    width: 30%;
    margin: 5px;
    padding: 5px;
}
.profile2 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

/* services */
.services {
    background-color: black;
    padding-top: 20px;
    height: 400px;
}
/* services1 */
.services1 p {
    color: white;
    font-size: 25px;
    text-align: center;
    padding: 20px;
}
.services1 h1 {
    color: rgb(203, 138, 174);
    text-align: center;
}
/* services2 */
.services2 img {
    width: 70px;
    height: 70px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.services2 h3 {
    font-size: 30px;
    text-align: center;
}

.services2 p {
    font-size: 20px;
    text-align: center;
}

.services2 {
    display: flex;
    color: white;
    margin-top: 40px;
    margin-left: 5px;
    margin-right: 5px;
}
.services2 div {
    width: 33.3%;
    margin: 10px;
    padding: 10px;
}

/* heading 1 */
h1 {
    font-size: 45px;
    color: white;
}
