*{
    margin: 0;
    padding: 0;
}

/* main header */
.mainheader1 {
    background-image: url(images/background/banner/banner.jpg);
    width: 100%;
    height: 40vh;
    margin: 0;
}
.navbar {
    overflow: hidden;
}
.navbar a {
    float: right;
    text-align: center;
    padding: 16px 14px;
    font-size: 25px;
    color: white;
    text-decoration: none; 
    padding-top: 30px;
}
.navbar a:hover {
    color: grey;
}

.myprofile {
    font-size: 30px;
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding-top: 80px;  
}
.myprofile p {
    color: rgb(255, 255, 255);
    padding-top: 20px;
}

.portfolio {
    width: 100%;
    height: 1100px;
    background-color: black;
    margin: 0;
    
    color: white;
}

.portfoliobuttons{
    margin-left: 500px;
    padding-top: 50px;
}
.portfoliobuttons button {
    width: 150px;
    height: 60px;
    margin-right: 10px;
    padding: 10px;
}

/* buttons a */
.portfoliobuttons button a {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   
}

/* websites */
.websites {
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
}
.websites div {
    width: 30%;
    height: 350px;
    margin-bottom: 80px;
    margin-left: 25px;
    margin-right: 25px;
}

.websites div img {
    width: 490px;
    height: 320px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.websites p {

    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-right: 5px;
    margin-right: 5px;
    margin-top: 15px;
    color: rgb(163, 159, 159);
} 
/* End website section */


/* heading 1 */

h1 {
    font-size: 45px;
    color: white;
}



/* footer */

footer {
    height: 250px;
    background-color: rgb(21, 20, 20);
    display: flex;
}

footer div {
    width: 33.3%;
    color: white;
}

footer div h4 {
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    margin-left: 40px;
    padding: 20px;
}

 footer div a {
    text-decoration: none;
    color: rgb(108, 102, 102);
    font-size: 25px;
    margin-left: 40px;
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
}
footer div img {
    width: 25px;
    height: 25px;
    margin-left: 40px;
    padding-left: 20px;  
}

footer div ul li {
    font-size: 24px;
    color: rgb(108, 102, 102);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer .socials {
    display: flex;
}

 footer div .socials a {
    margin-left: -20px;   
 }
/* End of footer */