/* *{
    margin: 0;
    padding: 0;
    font-family: sans-serif ;
}

.mainheader {
        position: relative;
        width: 100%;
        margin:0;
        height: 90vh;
       color: white;
        background-image: url(images/background/background_image.jpg);
        background-repeat: no-repeat;
    }


/* .header {
    position: relative;
    width: 100%;
    margin:0;
    height: 90vh;
   color: white;
    background-image: url(images/background/background_image.jpg);
    background-repeat: no-repeat; */
    
}
.mainheader .header a {
    float: left;
    margin: 50px;
    
}

 .header a {
    float: right;
    margin: 20px;
    text-decoration: none;
    padding-right: 5px;
    /* margin-right: 30px; */
    font-size: 25px;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.header a:hover{
    color: rgb(73, 64, 64);
    border-radius: 5px;
 
}
/* profile */
.profile {
    display: flex;
   padding: 10px;
    padding-top: 150px;
    color: rgb(245, 230, 230);
}
.profile1 {
    width: 70%;
    padding-right: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.profile1 p {
    font-size: 25px;
    font-weight: bold;
    text-align: justify;
    color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.profile1 button {
    margin-top: 30px;
    /* width: 250px;  */
    background-color: black;
    border-radius: 10px;
    text-align: center;
    width: 220px;
    padding-right: ;
}
.profile1 button a {
      text-align: center;
}
.profile1 button a:hover{
   
    color: rgb(73, 64, 64);
}

.profile2{
    width: 30%;
    padding-right: 20px;
    margin-left: 20px;
    /* margin-right: 20px; */
}
.profile2 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.services {
    background-color: black;
    padding-top: 20px;
}
.services2 {
    display: flex;
    color: white;
    margin: 5px;
}
.services2 div {
    width: 33.3%;
    margin: 10px;
    padding: 10px;
}


h1 {
    font-size: 45px;
    color: white;
} */