*{
    margin: 0;
    padding: 0;
    font-family: sans-serif ;
}
.header {
    position: relative;
    width: 100%;
    margin: ;
    height: 100vh;
    background: #eff4fd;
    background-image: url(images/ojokmichaelocanprofile.jpg);
    background-repeat: no-repeat;
    

}
.header a {
    float: right;
    margin: 20px;
    text-decoration: none;
    padding-right: 5px;
    margin-right: 30px;
    font-size: 25px;
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.header a:hover{
    background-color: rgb(73, 64, 64);
    border-radius: 5px;
 
}

.hero {
    padding-left: 50px;
    padding-top: 150px;
    color: rgb(31, 30, 30);
}

.hero p {
    font-size: 25px;
    color: white;
    padding: 20px;
    width: 800px;
    font-weight: bold;
    background-color: rgb(126, 129, 129);
    border-radius: 15px;
    text-align: justify;
}
button {
    margin: 15px;
    border-radius: 10px;
    background-color: rgb(76, 76, 82);  
} 

button a {
    width: 200px; 
}
.header .hero button a:hover {
    background-color: rgb(76, 76, 82); 
}

.services {
    background-color: black;
    padding-top: 20px;
}
.services2 {
    display: flex;
    color: white;
    margin: 5px;
}
.services2 div {
    width: 33.3%;
    margin: 10px;
    padding: 10px;
}


h1 {
    font-size: 40px;
    color: rgb(34, 17, 17);
}