*{
    margin: 0;
    padding: 0;
}

/* main header */
.mainheader1 {
    background-image: url(../Images/background/banner/banner_contact3.jpg);
    width: 100%;
    height: 40vh;
    margin: 0;
}
.navbar {
    overflow: hidden;
}
.navbar a {
    float: right;
    text-align: center;
    padding: 16px 14px;
    font-size: 25px;
    color: white;
    text-decoration: none; 
    padding-top: 30px;
}
.navbar a:hover {
    color: grey;
}

/* profile */
.myprofile {
    font-size: 30px;
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding-top: 40px;  
}
.myprofile p {
    color: rgb(255, 255, 255);
    padding-top: 20px;
}

/* contact */
.contact {
    width: 100%;
    height: 1000px;
    background-color: black;
    margin: 0;
    
    color: white;
}

.contact1{
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 30px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.contact1 h1 {
    font-size: 32px;
}

.contact1 p {
    font-size: 20px;
    margin-top: 10px;
}

.contact_form{
    display: flex;
    margin: 10px;
}
.contact_form div {
    width: 33.3%;
    margin-top: 20px;
}





/* heading 1 */

h1 {
    font-size: 45px;
    color: white;
}



/* footer */

footer {
    height: 250px;
    background-color: rgb(21, 20, 20);
    display: flex;
}

footer div {
    width: 33.3%;
    color: white;
}

footer div h4 {
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    margin-left: 40px;
    padding: 20px;
}

 footer div a {
    text-decoration: none;
    color: rgb(108, 102, 102);
    font-size: 25px;
    margin-left: 40px;
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
}
footer div img {
    width: 25px;
    height: 25px;
    margin-left: 40px;
    padding-left: 20px;  
}

footer div ul li {
    font-size: 24px;
    color: rgb(108, 102, 102);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer .socials {
    display: flex;
}

 footer div .socials a {
    margin-left: -20px;   
 }
/* End of footer */