*{
    margin: 0;
    padding: 0;
}

/* main header */
.mainheader {
    background-image: url(../Images/background/background_image.jpg);
    width: 100%;
    height: 85.5vh;
    margin: 0;
}
.navbar {
    overflow: hidden;
}
.navbar a {
    float: right;
    text-align: center;
    padding: 16px 14px;
    font-size: 25px;
    color: white;
    text-decoration: none; 
    padding-top: 30px;
}
.navbar a:hover {
    color: grey;
}

/* profile */
.profile {
    color: white;
    display: flex;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.profile1 {
    width: 70%;
    margin: 5px;
    padding: 5px;
}
.profile1 h1 {
    font-size: 45px;
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.profile1 p {
    font-size: 25px;
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.profile1 button {
    margin-top: 30px;
    /* width: 250px;  */
    background-color: rgb(10, 10, 10);
    border-radius: 10px;
    text-align: center;
    width: 150px;
    height: 40px;
    margin-left: 10px;
    
}
.profile1 button a {
    text-decoration: none;
    color: rgb(214, 206, 206);
    font-size: 17px;
    font-weight: bold;
}
.profile2 {
    width: 30%;
    margin: 5px;
    padding: 5px;
}
.profile2 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

/* services */
.services {
    background-color: rgb(16, 16, 16);
    padding-top: 20px;
    height: 450px;
}
/* services1 */
.services1 p {
    color: white;
    font-size: 25px;
    text-align: center;
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.services1 h1 {
    color: rgb(208, 205, 207);
    text-align: center;
}
/* services2 */
.services2 img {
    width: 70px;
    height: 70px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.services2 h3 {
    font-size: 30px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.services2 p {
    font-size: 21px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.services2 {
    display: flex;
    color: white;
    margin-top: 40px;
    margin-left: 5px;
    margin-right: 5px;
}
.services2 div {
    width: 33.3%;
    margin: 5px;
    padding: 5px;
}

.services2 a {
    text-decoration: none;
    color: white;
}

.services2 a:hover {
    color:aquamarine ;
}

/* heading 1 */
h1 {
    font-size: 45px;
    color: white;
}

/* ratings */
.ratings {
    height: 500px;
    width: 100%;
    background-color: rgb(21, 20, 20);
}
.ratings h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.ratings div {
    width: 50%;
    height: 60%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding: 10px;
    border: 2px solid;
    background-color: rgb(205, 209, 213);
    margin-top: 20px;
    border-radius: 10px;

}
.ratings div img {
    width: 60px;
    height: 60px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.ratings div h2 {
    text-align: center;
    font-size: 25px;
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.ratings div p {
    text-align: center;
    font-size: 20px;
}
/* footer */
footer {
    height: 250px;
    background-color: rgb(21, 20, 20);
    display: flex;
}

footer div {
    width: 33.3%;
    color: white;
}
footer div h4 {
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
  margin-left: 40px;
    padding: 20px;
}
 footer div a {
    text-decoration: none;
    color: rgb(108, 102, 102);
    font-size: 25px;
    margin-left: 40px;
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
}
footer div img {
    width: 25px;
    height: 25px;
    margin-left: 40px;
    padding-left: 20px;
    
}
footer div ul li {
    font-size: 24px;
    color: rgb(108, 102, 102);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
footer .socials {
    display: flex;
}

 footer div .socials a {
    margin-left: -20px;
   
 }
